@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

@font-face {
  font-family: Geometrica;
  src: url("/fonts/Geometria-ExtraBold.woff");
}
@font-face {
  font-family: Geometricaa;
  src: url("/fonts/Geometria.woff");
}

* {
  font-family: Geometricaa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: relative;
  margin: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.herosection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  min-height: 500px;
  position: relative;
  z-index: 1;
}
.herosection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/images/Rectangle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .logo {
  position: absolute;
  left: 110px;
  top: 65px;
}

header .menu {
  position: absolute;
  left: 170px;
  top: 70px;
}

.group {
  position: absolute;
  top: 30px;
  left: 430px;
}
.paragraph {
  position: absolute;
  width: 195px;
  height: 53px;
  left: 608px;
  top: 61px;

  font-size: 16px;
  line-height: 26px;
}

.phone {
  font-size: 30px;
  line-height: 49px;
  position: absolute;
  right: 210px;
  top: 50px;
}

.call {
  height: 45px;
  width: 260px;
  background: transparent;
  border: 1px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 5px;
}
.call:hover {
  cursor: pointer;
}
.call span {
  font-weight: bold;
}
.btn {
  position: absolute;
  right: 210px;
  top: 110px;
}

.headline {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 100px;
  top: 170px;
  font-family: Geometrica;

  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

.text {
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  top: 370px;
  left: 100px;
}

.infobox1 span {
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  bottom: 280px;
  left: 95px;
}
.infobox1 p {
  position: absolute;
  bottom: 290px;
  left: 170px;
}

.infobox2 span {
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  bottom: 280px;
  left: 315px;
}
.infobox2 p {
  position: absolute;
  bottom: 290px;
  left: 470px;
}

.infobox3 span {
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  bottom: 280px;
  left: 625px;
}
.infobox3 p {
  position: absolute;
  bottom: 290px;
  left: 710px;
}

.wine {
  position: absolute;
  width: 68px;
  height: 73px;
  left: 95px;
  top: 550px;
}
.wine-text {
  position: absolute;
  top: 560px;
  left: 190px;
  font-size: 16px;
  line-height: 26px;
}

.blue {
  width: 300px;
  height: 50px;
  background: #2a94e2;
  border: none;
}
.blue span {
  color: #fff;
}

.btn1 {
  position: absolute;
  bottom: 80px;
  left: 95px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  min-height: 400px;
  position: relative;
  z-index: 1;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.test {
  text-align: center;
  position: absolute;
  top: 30px;
  line-height: 48px;
}
.test h2 {
  font-size: 28px;
  font-family: Geometrica;
}

.map span {
  font-family: Geometrica;
  font-size: 18px;
  line-height: 33px;
  margin-left: 30px;
  margin-top: 35px;
}

.map{
  background: #ffffff;
  border: 3px solid #f6f6f6;
  box-sizing: border-box;
  width: 70%;
  margin: 1rem auto;
  height:50%; 
}
.city{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px; 
}

.uslugi{
  height:140vh;
}

.uslugi h2{
  font-size: 24px;
  font-family: Geometrica;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.container {
  width: 60%;
  margin: 1rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;

}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery .gallery__item--1 h5,p{
  z-index: 10000;
}