@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

@font-face {
  font-family: Geometrica;
  src: url("/fonts/Geometria-ExtraBold.woff");
}
@font-face {
  font-family: Geometricaa;
  src: url("/fonts/Geometria.woff");
}

@media screen and (max-width: 1120px) {
  .about-gallery {
    margin: auto;
  }
}

* {
  font-family: Geometricaa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  padding: 25px 50px;
  margin-bottom: -175px;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.navigation .logo {
  position: relative;
  margin-left: 55px;
  margin-top: 35px;
  margin-right: 115px;
}

header .navigation {
  position: relative;
  display: flex;
}

.navigation > div {
  margin-left: 5px;
}

.navigation .paragraph {
  margin-top: 40px;
  margin-left: 20px;
}

.navigation .group {
  margin-left: 120px;
}

.navigation .num {
  margin-top: 20px;
  margin-left: 95px;
}

.phone {
  font-size: 30px;
  line-height: 49px;
}

.call {
  height: 45px;
  width: 260px;
  margin-top: 10px;
  background: transparent;
  border: 1px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 5px;
}
.call:hover {
  cursor: pointer;
}
.call span {
  font-weight: bold;
}

.herosection {
  display: flex;
  height: 120vh;
  min-height: 500px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-image: url("/images/Rectangle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.headline {
  width: 586px;
  height: 190px;
  font-family: Geometrica;
  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

.content {
  margin-left: 100px;
  margin-top: 180px;
}

.text {
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
}

.info-container {
  display: flex;
  margin-top: 20px;
}

.infobox1,
.infobox2,
.infobox3 {
  margin-right: 55px;
}

.infobox1,
.infobox2,
.infobox3 {
  display: flex;
}

.infobox1 span {
  font-size: 60px;
  font-weight: 200;
}

.infobox1 p,
.infobox2 p,
.infobox3 p {
  margin-top: 20px;
  margin-left: 15px;
}

.infobox2 span {
  font-size: 60px;
  font-weight: 200;
}

.infobox3 span {
  font-size: 60px;
  font-weight: 200;
}

.bonus {
  display: flex;
  margin-top: 20px;
}

.bonus img {
  width: 68px;
  height: 73px;
}
.wine-text {
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  margin-left: 15px;
}

.blue {
  width: 300px;
  height: 50px;
  background: #2a94e2;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.btn1 {
  margin-top: 35px;
}
.btn1 button:hover {
  cursor: pointer;
  border: 1px solid #111;
  background: transparent;
  color: black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: 800px;
  position: relative;
  z-index: 1;
  margin-top:-50px;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.quest5 {
  justify-content: center;
  align-items: center;
}
.test {
  text-align: center;
  line-height: 48px;
}
.test h2 {
  font-size: 28px;
  font-family: Geometrica;
}

.map1 span {
  font-family: Geometrica;
  font-size: 18px;
  line-height: 33px;
  margin-left: 25px;
  margin-top: 10px;
}

.first,
.second {
  display: inline-block;
  padding: 10px 70px;
  margin-bottom: 15px;
}
.first {
  margin-left: 70px;
}
.second {
  margin-left: 90px;
}

.pictures hr {
  border: 1px solid #f1f1f1;
  width: 95%;
  margin-left: 10px;
  margin-bottom: 15px;
}

.maps {
  display: flex;
}
.map1 {
  background: #ffffff;
  box-sizing: border-box;
  width: 700px;
  height: 415px;
  padding-top: 15px;
  border: 3px solid #f6f6f6;
  border-right: none;
}
.map2 {
  background: #ffffff;
  box-sizing: border-box;
  width: 320px;
  height: 415px;
  border: 3px solid #f6f6f6;
}
.map1 .questions {
  font-size: 16px;
  font-family: Geometricaa;
}
.map1 .questions2 {
  font-size: 16px;
  float:right;
  margin-right:25px;
  margin-top:0px;
  color: #2A94E2;
  font-family: Geometricaa;
}

.checkbox{
  margin-top:30px;
  margin-left:20px;
  width:265px;
}
.item-1{
  margin-bottom:20px;
}
.item-1 p{
  margin-left:60px;
  margin-top:-40px;
}




.pictures img {
  width: 314px;
  height: 207px;
  margin-left: 15px;
}
.pictures {
  margin-top: 25px;
  margin-left: 10px;
}

.uslugi {
  height: 140vh;
}

.uslugi h2 {
  font-size: 24px;
  font-family: Geometrica;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.container {
  width: 60%;
  margin: 1rem auto;
}

.gallery__item:hover img {
  cursor: pointer;
  transform: scale(1.01);
}
.gallery__img {
  transition: transform 0.5s ease;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery__item--1 h3 {
  color: #fff;
  position: relative;
  font-family: Geometrica;
  bottom: 185px;
  font-size: 17px;
  line-height: 5px;
  left: 15px;
}

.gallery__item--1 p {
  color: #fff;
  position: relative;
  bottom: 160px;
  font-size: 12px;
  left: 14px;
}
.gallery__item--1 button {
  position: relative;
  background-color: #2a94e2;
  bottom: 120px;
  width: 243px;
  height: 50px;
  left: 10px;
  color: #fff;
  border: 2px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 5px;
}

.gallery__item--1 button:hover {
  cursor: pointer;
  background-color: #f6f6f6;
  color: black;
  border: none;
}

.btn1 button {
  color: #fff;
}

.gallery__item--2 h3,
.gallery__item--3 h3,
.gallery__item--4 h3,
.gallery__item--5 h3,
.gallery__item--6 h3 {
  color: #fff;
  position: relative;
  font-family: Geometrica;
  bottom: 39px;
  font-size: 15px;
  left: 15px;
}

.apartment {
  height: 375vh;
}

.moscow-city {
  text-align: center;
  line-height: 35px;
}
.moscow-city h2 {
  font-family: Geometrica;
}

.buttons {
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.buttons button {
  width: 180px;
  height: 50px;
  margin-left: -5px;

  border: 2px solid #f6f6f6;
  background-color: white;
}

.buttons .active {
  color: white;
  background-color: #2a94e2;
}

.buttons button:hover {
  cursor: pointer;
  background: #f6f6f6;
  color: black;
}

.rooms {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 400px);
  grid-auto-rows: repeat(10, 250px);
  grid-gap: 2.8rem;
  margin-right: 48px;
  margin-top: 25px;
}

.card {
  display: flex;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 390px;
  width: 300px;
}
.card2 {
  margin-left: 10px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 390px;
  width: 300px;
}

.thumbnail img {
  height: 220px;
  width: 435px;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card-content h3 {
  margin-left: 15px;
  margin-top: 10px;
  font-family: Geometrica;
  font-size: 17px;
  line-height: 35px;
  white-space: nowrap;
}
.card-content h3:hover {
  color: #2a94e2;
  cursor: pointer;
}

.card-content span {
  margin-left: 15px;
  font-size: 14px;
  line-height: 35px;
}

.card-content .etaj {
  position: absolute;
  right: -120px;
  bottom: 16px;
  line-height: 38px;
}

.card-content .money {
  font-weight: 300;
  font-size: 31px;
  margin-left: 15px;
}

.card-content .area {
  margin-left: 15px;
  margin-top: 9px;
}

.card button,
.card2 button {
  width: 435px;
  margin-top: 15px;
  padding-bottom: 10px;
  background: #f6f6f6;
  padding-top: 10px;
  border: 2px solid #f6f6f6;
  box-sizing: border-box;
  font-weight: 600;
}

.card button:hover,
.card2 button:hover {
  background: #2a94e2;
  cursor: pointer;
  color: #fff;
}

.card-content .etaj2 {
  position: absolute;
  right: -133px;
  bottom: 15px;
  line-height: 38px;
}

.apartment .show-more {
  width: 893px;
  height: 40px;
  border: none;
  font-weight: 600;
  margin-left: 225px;
  margin-top: 60px;
}

.apartment .show-more:hover {
  cursor: pointer;
  background-color: #2a94e2;
  color: #fff;
}

.fa-chevron-down {
  margin-left: 7px;
  margin-top: 5px;
  font-size: 11px;
}

.about {
  max-height: 80vh;
}

.about-info {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  max-height: 520px;
}

.about-text {
  margin-top: 55px;
  width: 500px;
  float: left;
  margin-right: 25px;
}

.about-text h3 {
  font-family: Geometrica;
  font-size: 23px;
  margin-bottom: 12px;
}

.about-text button {
  margin-top: 20px;
  background-color: #2a94e2;
  border: none;
  color: #fff;
  width: 190px;
  height: 40px;
  border-radius: 5px;
}

.about-text button:hover {
  cursor: pointer;
  background: #f6f6f6;
  color: black;
  border: 1px solid #111;
}

.item-a img {
  width: 385px;
  height: 280px;
  margin-top: 35px;
}
.item-a {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.item-b {
  margin-top: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.item-b img {
  width: 90px;
  height: 90px;
}

.item-c,
.item-d,
.item-e {
  margin-top: 30px;
}

.item-c img {
  width: 90px;
  height: 90px;
}
.item-d img {
  width: 90px;
  height: 90px;
}
.item-e img {
  width: 90px;
  height: 90px;
}
.about-gallery {
  width: 400px;
  height: 460px;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 90px 90px 90px 90px;
  grid-gap: 0.5rem;
}

.about__img:hover {
  border: 2px solid #2a94e2;
  box-sizing: border-box;
  cursor: pointer;
}

.agency {
  height: 180vh;
}

.agency h3 {
  font-family: Geometrica;
  text-align: center;
  font-size: 22px;
  margin-top: 30px;
}

.agency .content2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 370px 370px;
  grid-template-rows: repeat(8, 200px);
  grid-gap: 0.8rem;
  margin-top: 30px;
}

.agency .content2 .item {
  background: #ffffff;
  opacity: 0.5;
  width: 370px;
  height: 200px;
  border: 1px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 10px;
}
