@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

@font-face {
  font-family: Geometrica;
  src: url("/fonts/Geometria-ExtraBold.woff");
}
@font-face {
  font-family: Geometricaa;
  src: url("/fonts/Geometria.woff");
}

@media screen and (max-width: 1120px) {
  .about-gallery {
    margin: auto;
  }
}

* {
  font-family: Geometricaa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: relative;
  margin: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.herosection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  min-height: 500px;
  position: relative;
  z-index: 1;
}
.herosection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/images/Rectangle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header .logo {
  position: absolute;
  left: 110px;
  top: 65px;
}

header .menu {
  position: absolute;
  left: 170px;
  top: 70px;
}

.group {
  position: absolute;
  top: 30px;
  left: 430px;
}
.paragraph {
  position: absolute;
  width: 195px;
  height: 53px;
  left: 608px;
  top: 61px;

  font-size: 16px;
  line-height: 26px;
}

.phone {
  font-size: 30px;
  line-height: 49px;
  position: absolute;
  right: 210px;
  top: 50px;
}

.call {
  height: 45px;
  width: 260px;
  background: transparent;
  border: 1px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 5px;
}
.call:hover {
  cursor: pointer;
}
.call span {
  font-weight: bold;
}
.btn {
  position: absolute;
  right: 210px;
  top: 110px;
}

.headline {
  position: absolute;
  width: 586px;
  height: 190px;
  left: 100px;
  top: 170px;
  font-family: Geometrica;

  font-size: 45px;
  line-height: 55px;
  text-transform: uppercase;
}

.text {
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  top: 370px;
  left: 100px;
}

.infobox1 span {
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  bottom: 280px;
  left: 95px;
}
.infobox1 p {
  position: absolute;
  bottom: 290px;
  left: 170px;
}

.infobox2 span {
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  bottom: 280px;
  left: 315px;
}
.infobox2 p {
  position: absolute;
  bottom: 290px;
  left: 470px;
}

.infobox3 span {
  font-size: 60px;
  font-weight: 200;
  position: absolute;
  bottom: 280px;
  left: 625px;
}
.infobox3 p {
  position: absolute;
  bottom: 290px;
  left: 710px;
}

.wine {
  position: absolute;
  width: 68px;
  height: 73px;
  left: 95px;
  top: 550px;
}
.wine-text {
  position: absolute;
  top: 560px;
  left: 190px;
  font-size: 16px;
  line-height: 26px;
}

.blue {
  width: 300px;
  height: 50px;
  background: #2a94e2;
  border: none;
}
.blue span {
  color: #fff;
}

.btn1 {
  position: absolute;
  bottom: 80px;
  left: 95px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  min-height: 400px;
  position: relative;
  z-index: 1;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.test {
  text-align: center;
  position: absolute;
  top: 30px;
  line-height: 48px;
}
.test h2 {
  font-size: 28px;
  font-family: Geometrica;
}

.map span {
  font-family: Geometrica;
  font-size: 18px;
  line-height: 33px;
  margin-left: 30px;
  margin-top: 35px;
}

.map {
  background: #ffffff;
  border: 3px solid #f6f6f6;
  box-sizing: border-box;
  width: 70%;
  margin: 1rem auto;
  height: 50%;
}
.city {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}

.uslugi {
  height: 140vh;
}

.uslugi h2 {
  font-size: 24px;
  font-family: Geometrica;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

.container {
  width: 60%;
  margin: 1rem auto;
}

.gallery__item:hover img {
  cursor: pointer;
  transform: scale(1.01);
}
.gallery__img {
  transition: transform 0.5s ease;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--4 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 9;
}
.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 9;
}

.gallery__item--1 h3 {
  color: #fff;
  position: relative;
  font-family: Geometrica;
  bottom: 185px;
  font-size: 17px;
  line-height: 5px;
  left: 15px;
}

.gallery__item--1 p {
  color: #fff;
  position: relative;
  bottom: 160px;
  font-size: 12px;
  left: 14px;
}
.gallery__item--1 button {
  position: relative;
  background-color: #2a94e2;
  bottom: 120px;
  width: 243px;
  height: 50px;
  left: 10px;
  color: #fff;
  border: 2px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 5px;
}

.gallery__item--1 button:hover {
  cursor: pointer;
  background-color: #f6f6f6;
  color: black;
  border: none;
}

.btn1 button {
  color: #fff;
}

.gallery__item--2 h3,
.gallery__item--3 h3,
.gallery__item--4 h3,
.gallery__item--5 h3,
.gallery__item--6 h3 {
  color: #fff;
  position: relative;
  font-family: Geometrica;
  bottom: 39px;
  font-size: 15px;
  left: 15px;
}

.apartment {
  height: 400vh;
}

.moscow-city {
  text-align: center;
  line-height: 35px;
}
.moscow-city h2 {
  font-family: Geometrica;
}

.buttons {
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.buttons button {
  width: 180px;
  height: 50px;
  margin-left: -5px;

  border: 2px solid #f6f6f6;
  background-color: white;
}

.buttons .active {
  color: white;
  background-color: #2a94e2;
}

.buttons button:hover {
  cursor: pointer;
  background: #f6f6f6;
  color: black;
}

.rooms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2.8rem;
  margin-top: 20px;
  margin-left: 225px;
}

.card {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  grid-column-start: 1;
  height: 390px;
}
.card2 {
  margin-left: 68px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.thumbnail img {
  height: 220px;
  width: 435px;
}

.card-content {
  display: flex;
  flex-direction: column;
}
.card-content h3 {
  margin-left: 15px;
  margin-top: 10px;
  font-family: Geometrica;
  font-size: 17px;
  line-height: 35px;
  white-space: nowrap;
}
.card-content h3:hover {
  color: #2a94e2;
  cursor: pointer;
}

.card-content span {
  margin-left: 15px;
  font-size: 14px;
  line-height: 35px;
}

.card-content .etaj {
  position: absolute;
  right: -80px;
  bottom: 10px;
  line-height: 38px;
}

.card-content .money {
  font-weight: 300;
  font-size: 31px;
  margin-left: 15px;
}

.card-content .area {
  margin-left: 15px;
  margin-top: 9px;
}

.card button,
.card2 button {
  width: 435px;
  margin-top: 15px;
  padding-bottom: 10px;
  background: #f6f6f6;
  padding-top: 10px;
  border: 2px solid #f6f6f6;
  box-sizing: border-box;
  font-weight: 600;
}

.card button:hover,
.card2 button:hover {
  background: #2a94e2;
  cursor: pointer;
  color: #fff;
}

.card-content .etaj2 {
  position: absolute;
  right: -153px;
  bottom: 45px;
  line-height: 38px;
}

.apartment .show-more {
  width: 893px;
  height: 40px;
  border: none;
  font-weight: 600;
  margin-left: 225px;
  margin-top: 20px;
}

.apartment .show-more:hover {
  cursor: pointer;
  background-color: #2a94e2;
  color: #fff;
}

.fa-chevron-down {
  margin-left: 7px;
  margin-top: 5px;
  font-size: 11px;
}

.about {
  height: 80vh;
}

.about-info {
  margin-top: -35px;
  background: #f6f6f6;
  height: 480px;
  justify-content: center;
}

.about-text {
  margin-left: 180px;
  margin-top: 55px;
  width: 500px;
  float: left;
  margin-right: 25px;
}

.about-text h3 {
  font-family: Geometrica;
  font-size: 23px;
  margin-bottom: 12px;
}

.about-text button {
  margin-top: 20px;
  background-color: #2a94e2;
  border: none;
  color: #fff;
  width: 190px;
  height: 40px;
  border-radius: 5px;
}

.about-text button:hover {
  cursor: pointer;
  background: #f6f6f6;
  color: black;
  border: 1px solid #111;
}

.item-a img {
  width: 385px;
  height: 280px;
  margin-top: 35px;
}
.item-a {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.item-b {
  margin-top: 30px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}

.item-b img {
  width: 90px;
  height: 90px;
}

.item-c,
.item-d,
.item-e {
  margin-top: 30px;
}

.item-c img {
  width: 90px;
  height: 90px;
}
.item-d img {
  width: 90px;
  height: 90px;
}
.item-e img {
  width: 90px;
  height: 90px;
}
.about-gallery {
  width: 400px;
  height: 460px;
  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-template-rows: 90px 90px 90px 90px;
  grid-gap: 0.5rem;
}

.about__img:hover {
  border: 2px solid #2a94e2;
  box-sizing: border-box;
  cursor: pointer;
}

.agency {
  height: 180vh;
}

.agency h3 {
  font-family: Geometrica;
  text-align: center;
  font-size: 22px;
}

.agency .content2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 370px 370px;
  grid-template-rows: repeat(8, 200px);
  grid-gap: 0.8rem;
  margin-top: 30px;
  }

.agency .content2 .item {
  background: #ffffff;
  opacity: 0.5;
  width: 370px;
  height: 200px;
  border: 1px solid #2a94e2;
  box-sizing: border-box;
  border-radius: 10px;
}
